.order__main__content {
	width: 66%;
	padding: 65px 0 132px 0;
	float: right;

	&__title {
		max-height: 10000em;
		font-size: 35px;
		font-family: 'PT Sans Narrow';
		color: #6a0005;
		margin-bottom: 21px;
	}

	&__about {
		margin-bottom: 19px;
	}

	&__desc {
		margin-bottom: 10px;
		max-height: 1000px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 16px;
		line-height: 27px;
		color: #333;
	}

	&__text {
		margin-bottom: 35px;
		padding-right: 90px;
		max-height: 1000px;
		font-size: 15px;
		font-family: Roboto;
		font-weight: 300;
		line-height: 21px;
		color: #333;
	}

}


/* TODO: Вынести общие стили в отдельный файл */

.blue-link {
	color: #056383;

	&:hover {
		color: #df0b0b !important;
	}

	&_dashed {
		border-bottom: 1px solid #056383;

		&:hover {
			border-bottom: 1px solid #df0b0b;
		}
	}
}

.big-blue-link {
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 16px;
	color: #056383;
	text-transform: uppercase;
	border-bottom: 1px dashed #056383;
	cursor: pointer;
	display: inline-block;
	&:hover {
		border-bottom: 1px dashed #df0b0b;
	}
}
