.hr-answer {
	margin-top: 38px;
	padding-left: 302px;

	&__inline {
		display: inline-block;
		width: 178px;
		margin-right: 10px;
	}

	&__inline &__label,
	&__inline &__input {
		width: inherit;
	}

	&__label {
		margin-bottom: 6px;
		display: block;
		font-family: Roboto;
		font-weight: 300;
		font-size: 12px;
		color: #666;
	}

	&__input {
		width: 370px;
		height: 36px;
		margin-bottom: 10px;
		padding-left: 6px;
		padding-right: 6px;
		display: block;
		background-color: transparent;
		border: 1px solid #9d9683;
		font-family: 'PT Sans';
		font-weight: bold;
		font-size: 14px;
		color: #333;
	}

	&__submit {
		margin-top: 25px;
		width: 164px;
	}
}
