.content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	width: 93%;
	background-color: #ecdcc4;
	background-image: url('../../images/background/content.jpg');
	padding-bottom: 100px;

	&_padding {
		padding-top: 50px;
	}
}
