.column {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	position: relative;

	&_size_one-third {
		width: 33.333%;
	}

	&_size_one-fourth {
		width: 25%;
		padding-left: 0;
		padding-right: 0;
	}

	&_size_two-third {
		width: 66.666%;
	}

	&_size_half {
		width: 50%;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&_offset_one-third {
		margin-left: 33.333%;
	}
}
