.job-form {
	width: 370px;

	&__submit {
		margin-top: 25px;
		width: 170px;
		display: inline-block;
		vertical-align: middle;
		opacity: 1;
		transition: opacity .3s ease;

		&_disabled {
			pointer-events: none;
			opacity: .5;
		}
	}

	&__loader {
		display: inline-block;
		vertical-align: middle;
		margin-left: 25px;
		margin-top: 25px;
		opacity: 0;
		transition: opacity .3s ease;

		&_active {
			opacity: 1;
		}
	}
}
