.list__item {
	position: relative;
	font-size: 14px;
	line-height: 26px;

	&:before {
		position: absolute;
		top: 13px;
		left: -20px;
		width: 10px;
		height: 1px;
		content: '';
		background-color: #a75d52;
	}

	&:last-child {
		margin-bottom: 14px;
	}
}
