.checkbox {
	&__input {
		display: none;
	}

	&__label {
		position: relative;
		padding-left: 20px;
		display: inline-block;
		cursor: pointer;
		user-select: none;
		line-height: 22px;

		&:before {
			position: absolute;
			top: 4px;
			left: 0;
			height: 12px;
			width: 12px;
			border: 1px solid #333;
			content: '';
		}

		&:after {
			position: absolute;
			top: 4px;
			left: 0;
			height: 11px;
			width: 4px;
			margin: -3px 0 0 5px;
			border-right: 3px solid #333;
			border-bottom: 3px solid #333;
			opacity: 0;
			content: '';
			transform: rotate(40deg) scale(3);
			transition: .125s ease-out;
		}
	}

	&__input:checked + &__label:after {
		opacity: 1;
		transform: rotate(40deg) scale(1);
	}
}
