.order__main__content__upload {
	width: 728px;
	margin-bottom: 23px;
	position: relative;

	/* clearfix() */
	/* TODO: использовать clear: fix из postcss */
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
