html {
	all: initial;
	display: block;
	height: 100%;
	min-width: 1024px;
}

body {
	all: initial;
	display: block;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;;
	height: 100%;
	overflow-y: scroll;
}

:global(#content), :global(#root) {
	height: 100%;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: underline;
	display: inline;
	color: #056383;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	transition: color .3s ease;

	&:hover {
		color: #DF0B0B;
	}
}
