@font-face {
	font-family: 'PT Sans';
	src: url(../../../static/fonts/ptsanswebregular.woff2) format('woff2'),
	     url(../../../static/fonts/ptsanswebregular.woff) format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url(../../../static/fonts/ptsanswebbold.woff2) format('woff2'),
	     url(../../../static/fonts/ptsanswebbold.woff) format('woff');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'RodchenkoCTT';
	src: url(../../../static/fonts/rodchenkoctt.woff2) format('woff2'),
	     url(../../../static/fonts/rodchenkoctt.woff) format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url(../../../static/fonts/ptsansnarrowwebregular.woff2) format('woff2'),
	     url(../../../static/fonts/ptsansnarrowwebregular.woff) format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../../../static/fonts/robotolight.woff2) format('woff2'),
	     url(../../../static/fonts/robotolight.woff) format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url(../../../static/fonts/robotoregular.woff2) format('woff2'),
	     url(../../../static/fonts/robotoregular.woff) format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url(../../../static/fonts/robotobold.woff2) format('woff2'),
	     url(../../../static/fonts/robotobold.woff) format('woff');
	font-style: normal;
	font-weight: 700;
}
