@import 'helpers';

.order__main__short {
	width: 34%;
	position: absolute;
	text-align: center;
	padding-top: 125px;
	height: 100%;

	@media (--large) { width: 20%; }
	@media (--small) { display: none; }


	&-block {
		width: 300px;
		margin: 0 0 0 55px;
		position: relative;
		height: 575px;

		@media (--large) {
			width: 140px;
			height: 200px;
			margin: 0 0 0 25px;
		}

		&.fixed {
			position: fixed;
			top: 10px;

			@media (--large) { width: 140px; }

		}
	}

	&__airship {
		position: absolute;
		top: 2px;
		left: -4px;
		display: block;
		width: 255px;
		height: 273px;
		background-image: url('../../images/background/zeppelin.svg');
		background-repeat: no-repeat;

		@media (--large) { display: none; }

	}

	&__text-block {
		position: relative;
		top: 247px;
		left: 5px;
		width: 275px;
		height: 318px;
		background: url('../../images/background/zeppelin_order_text.svg') no-repeat, url('../../images/background/banner.png');
		background-position: top 72px left 62px, top center;

		@media (--large) { display: none; }

	}

	@media (--large) {
		&__line {
			height: 130px;
			top: 38px;
			left: 50%;

			&:before {
				border: 5px solid transparent;
				border-top: 12px solid #a70e00;
				content: '';
				display: block;
				position: absolute;
				bottom: -19px;
				left: -5px;
				width: 1px;
			}
		}
	}

	&__more {
		position: absolute;
		bottom: -17px;
		left: 50%;
		margin-left: -55px;
		/* delete extra underscore */
		text-decoration: none;

		@media (--large) {
			bottom: 183px;

			&:before {
				display: block;
				content: '';
				width: 1px;
				height: 130px;
				background-color: #c2b398;
				position: absolute;
				top: 36px;
				left: 50%;
				margin-left: -0.5px;
			}

			&:after {
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 12px 5.5px 0 5.5px;
				border-color: #b71800 transparent transparent transparent;
				position: absolute;
				top: 166px;
				left: 50%;
				margin-left: -5.5px;
			}

		}

	}

}
