.root {
	color: #F2EBDA;
}

.title {
	font-family: 'RodchenkoCTT';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 39px;
	color: #f4e0bb;
	letter-spacing: 1px;

	&:hover {
		color: #f2ecde;
	}
}

.subtitle {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 22px;
	margin-top: 12px;
	color: #74898f;
}

.text {
	margin: 40px 0px 0px;
}
