.order__main__content__upload {
	position: relative;
	margin-bottom: 23px;
	width: 728px;
	clear: fix;

	&__files {
		margin-top: 40px;
		height: 0;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		padding-top: 0;

		.fileHeight {
			position: relative;
		}
	}

	&__line {
		width: 100%;
		height: 18px;
		margin-bottom: 30px;
		background-color: #d4c5aa;
		border-top: 1px solid #a8977b;
		border-right: 1px solid #a8977b;
		display: none;
		position: absolute;
		top: -47px;

		&-status {
			width: 0%;
			height: 18px;
			background-color: #990000;
			position: relative;
			top: -1px;
		}
	}

	&__uploaded-files {
		text-align: justify;
		margin-left: -22px;
		padding-bottom: 7px;
		clear: fix;

		.file-place {
			display: inline-block;
			width: 227px;
			height: 25px;
			margin-bottom: 9px;
			position: relative;
			margin-left: 23px;
			overflow: hidden;
			opacity: 0;
			transition: 0.2s ease-in-out;
			clear: fix;

			&-visible {
				opacity: 1;
			}

			&.pre-deleted-file {
				width: 0;
				margin: 0;
			}

			&__icon {
				width: 17px;
				height: 25px;
				background-image: url('../../images/order/file.png');
				background-repeat: no-repeat;
			}

			&__name {
				font-family: 'PT Sans Narrow';
				font-size: 15px;
				color: #333;
				position: absolute;
				top: 0;
				left: 22px;
				line-height: 25px;
				max-width: 160px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__progress-complieted {
				position: absolute;
				background-image: url('../../images/order/progress.png');
				height: 1px;
				top: 17px;
				right: 10px;
				display: none;
			}

			&__progress {
				position: absolute;
				right: 12px;
				top: 12px;
				height: 5px;
				background-color: #d4c5aa;
				border-top: 1px solid #a8977b;
				border-right: 1px solid #a8977b;

				&-line {
					position: relative;
					top: -1px;
					width: 80%;
					height: 6px;
					background-color: #990000;
				}
			}

			&__close {
				position: absolute;
				right: 0;
				top: 11px;
				width: 7px;
				height: 7px;
				background-image: url('../../images/order/close.png');
				cursor: pointer;
			}

		}
	}
}
