.order__main__content__upload {
	position: relative;
	margin-bottom: 23px;
	width: 728px;
	clear: fix;

	&__files {
		margin-top: 40px;
		height: 0;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		padding-top: 0;

		.fileHeight {
			position: relative;
		}
	}

	&__line {
		position: absolute;
		top: -47px;
		margin-bottom: 30px;
		display: block;
		width: 100%;
		height: 18px;
		background-color: #d4c5aa;
		border-top: 1px solid #a8977b;
		border-right: 1px solid #a8977b;

		&-status {
			width: 0%;
			height: 18px;
			background-color: #990000;
			position: relative;
			top: -1px;
		}
	}

	&__uploaded-files {
		text-align: justify;
		margin-left: -22px;
		padding-bottom: 7px;
		clear: fix;
	}
}
