.uploader {
	margin-bottom: 25px;
	position: relative;
	clear: fix;

	&__links {
		margin-top: 30px;
		margin-bottom: 5px;
	}

	&__link {
		margin-right: 7px;
	}

	&__section {
		display: none;

		&_active {
			display: block;
		}
	}
}
