.root {
	margin-bottom: 25px;
	padding-right: 25px;
	position: relative;
	clear: fix;
}

.links {
	margin-top: 30px;
	margin-bottom: 5px;
}

.link {
	margin-right: 7px;
}

.section {
	display: none;

	&_active {
		display: block;
	}
}
