.text {
	font-size: 16px;
	line-height: 27px;
	font-family: Roboto;
	font-weight: 300;
	color: #333333;
	margin-bottom: 10px;

	&_center {
		text-align: center;
	}

	&_weight_bold {
		font-weight: 400;
	}

	&_size_l {
		font-size: 18px;
		line-height: 28px;
	}

	&_size_m {
		font-size: 15px;
		line-height: 21px;
	}

	&_size_s {
		font-size: 14px;
		line-height: 22px;
	}

	&_size_xs {
		font-size: 12px;
		line-height: 19px;
	}

	&_size_xxs {
		font-size: 10px;
		line-height: 18px;
	}

	&_noindent {
		margin-bottom: 0;
	}

	&_color_blue {
		color: #aabbba;
	}
}
