.order__main__content__options {
	margin-top: 10px;
	margin-bottom: 22px;
	clear: fix;

	&__single {
		float: left;
		width: 24%;
	}

	&__title {
		font-family: 'PT Sans Narrow';
		font-size: 15px;
		color: #6b0000;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	&__checkboxes {
		font-family: Roboto;
		font-weight: 300;
		font-size: 13px;
		color: #333;

		li {
			margin-bottom: 7px;
		}

	}
}
