.order__main__content__contacts {
	display: block;

	&__text {
		position: relative;
		margin-top: 19px;
		margin-bottom: 29px;

		.input-text {
			margin: 4px 0 9px 0;
			display: block;
			width: 412px;
			background-color: transparent;
		}
	}

	&__submit {
		width: 164px;
	}

}
