.form-validation {
	width: 226px;
	padding: 24px 26px;
	border: 3px solid #a70e00;
	position: absolute;
	left: 462px;
	top: 20px;
	font-family: 'PT Sans Narrow';
	font-size: 15px;
	color: #990000;
	line-height: 21px;
	/*display: none;*/
	box-sizing: content-box;
	opacity: 0;

	&__attention {
		font-size: 30px;
		line-height: 21px;
		text-transform: uppercase;
	}

	&__loading {
		display: none;
	}

	.validation-lines {
		margin-top: 10px;

		&.complieted {
			text-decoration: line-through;
			color: #666666;
		}
	}

}

.magictime {
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

@keyframes rotateLeft {
	0% {
		opacity: 1;
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(0deg) translateZ(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 0;
		transform: perspective(800px) rotateY(180deg) translateZ(300px);
	}
}

.rotateLeft {
	backface-visibility: visible !important;
	animation-name: rotateLeft;
}

@keyframes rotateRight {
	0% {
		opacity: 0;
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(180deg) translateZ(150px) translateX(-284px);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0;
		transform: perspective(800px) rotateY(360deg) translateZ(0px);
	}
}

.rotateRight {
	backface-visibility: visible !important;
	animation-name: rotateRight;
}
