.brick {
	position: relative;
	z-index: 1;
	width: 100%;
	display: inline-block;
	user-select: none;
	border: none;

	&:before,
	&:after {
		position: absolute;
		z-index: 10;
		content: '';
		backface-visibility: hidden;
	}

	&:before {
		left: 3px;
		bottom: -5px;
		width: 100%;
		height: 5px;
		background-color: #cd4500;
		transform: skew(30deg);
		transform-origin: 0 100%;
	}

	&:after {
		top: 3px;
		right: -3px;
		width: 3px;
		height: 40px;
		background-color: #fc9700;
		transform: skewY(60deg);
	}

	&:active {
		&:before {
			height: 2px;
		}

		&:after {
			top: 5px;
			width: 2px;
			height: 39px;
		}
	}

	&__text {
		position: relative;
		z-index: 3;
		display: block;
		width: 100%;
		height: 40px;
		font-family: 'PT Sans';
		font-weight: 600;
		font-size: 16px;
		line-height: 42px;
		font-style: italic;
		text-align: center;
		cursor: pointer;
		color: #591200;
		background-color: #ffa202;
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: 15px 11px;
		text-shadow: 0 1px rgba(255,255,255,0.6);
		will-change: background-color;

		&:before {
			position: absolute;
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;
			content: '';
			border: 1px dashed #902e08;
		}
	}

	&:hover,
	&__text {
		background-color: #ffb820;
	}

	&:active,
	&__text {
		top: 3px;
		left: 1px;
	}

	&__shadow {
		position: absolute;
		z-index: 1;
		top: 16px;
		left: -12px;
		display: block;
		width: 100%;
		height: 100%;
		pointer-events: none;
		cursor: default;
		background-color: #d7be92;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #dac092;
		}

		&:before {
			top: -9px;
			left: 0;
			width: 12px;
			height: 25px;
			transform: skewY(-45deg);
		}

		&:after {
			top: 29px;
			right: -10px;
			width: 23px;
			height: 11px;
			transform: skewX(-45deg);
		}
	}

	&:active,
	&__shadow {
		top: 11px;
		left: -5px;

		&:before {
			top: -5px;
			left: 0;
			width: 6px;
		}

		&:after {
			top: 34px;
			right: -5px;
			height: 6px;
		}
	}

	&_shadow_dark &__shadow {
		opacity: .4;

		&,
		&:before,
		&:after {
			background-color: #000;
		}
	}

}
