.project-page {
	width: 100%;
	height: 100%;
	position: relative;
	backface-visibility: hidden;

	&__loader {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: opacity .3s ease;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;

		&_active {
			pointer-events: all;
			opacity: 1;
		}
	}

	&__frame {
		width: 100%;
		height: 100%;
		display: block;
		background: #fff;
		opacity: 0;
		transition: opacity .3s ease;
		pointer-events: none;

		&_active {
			pointer-events: all;
			opacity: 1;
		}
	}
}
