.root {
	font-size: 35px;
	font-family: 'PT Sans Narrow';
	color: #6A0005;
	margin-bottom: 20px;

	&_center {
		text-align: center;
	}

	&_size_medium {
		font-size: 24px;
		margin-bottom: 11px;
		letter-spacing: 1px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
	}

	&_size_small {
		letter-spacing: 1px;
		font-size: 15px;
		margin-bottom: 9px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
	}

	&_color_yellow {
		color: #f6e1ba;
	}

	&_color_black {
		color: #333;
	}

	&_noindent {
		margin-bottom: 0;
	}
}
