.root {
	padding-bottom: 10px;
	font-size: 17px;
	font-family: Roboto;
	font-weight: 300;
}

.item {
	margin-top: 14px;
}

.hh {
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 17px;
}
