.outsource {
	width: 100%;
	background: #ecdcc3 url('../../images/background/content.jpg');
	box-sizing: border-box;
	margin: 50px auto 100px;
	padding: 68px 24px 0;
	width: 93%;
	position: relative;

	&__title {
		margin: 0 auto 84px;
		width: 472px;
		font-family: RodchenkoCTT;
		font-size: 54px;
		text-transform: uppercase;
		font-style: italic;
		line-height: 56px;
		color: #333;

		&-left,
		&-right {
			display: block;
		}

		&-right {
			padding-left: 88px;
			padding-top: 5px;
		}
	}

	&__subtitle {
		color: #6b0000;
		font-size: 26px;
		font-family: 'PT Sans Narrow';
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		line-height: 40px;
		z-index: 2;
		letter-spacing: 0.075em;

		&::after {
			display: inline-block;
			position: absolute;
			width: 100%;
			background: #6c0400;
			height: 1px;
			top: 20px;
			content: '';
			margin-left: 15px;
		}
	}
}
