.root {
	position: relative;
	border: 1px dashed #231f20;
	margin-top: 30px;
	margin-left: -150px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-left: 150px;
	padding-right: 40px;
	padding-bottom: 30px;
	min-height: 195px;
	display: block;

	&_horizon {
		.scissors {
			top: auto;
			bottom: -8px;
			left: auto;
			right: 62px;
			transform: rotate(-90deg);
		}
	}
}

.scissors {
	position: absolute;
	width: 15px;
	height: 16px;
	top: 249px;
	left: -8px;
}

.file {
	position: absolute;
	top: 37px;
	left: 40px;
}
