.outsource-use {
	position: relative;
	display: block;
	padding-left: 33px;
	padding-bottom: 140px;
	padding-top: 262px;

	&__title {
		width: 146px;
		height: 262px;
		background-image: url('../../images/outsource/lamp.svg');;
		background-size: cover;
		padding-top: 155px;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		margin-left: 353px;
		letter-spacing: 0.075em;
		left: calc((100% - 918px) * 0.5);
	}

	&__cloud {
		position: absolute;
		z-index: 10;

		&_left {
			left: 10%;
			top: 0;
			width: 210px;
		}

		&_right {
			right: 130px;
			top: 70px;
			width: 220px;
		}
	}

	&__title-text {
		z-index: 0;
		width: 280px;
		height: 43px;
		background-image: url("../../images/background/red-pattern.jpg");
		left: 50%;
		margin-left: -140px;
		content: '';
		position: absolute;
		display: block;
		font-size: 26px;
		font-family: RodchenkoCTT;
		color: #f2ebd9;
		position: relative;
		line-height: 43px;
		text-align: center;
	}

	&__subtitle {
		font-size: 30px;
		color: #6b0000;
		font-family: 'PT Sans Narrow';
		text-transform: uppercase;
		line-height: 38px;

		&_medium {
			font-size: 26px;
			letter-spacing: 0.075em;
		}

		&_small {
			letter-spacing: 0.075em;
			font-size: 12px;
			margin: 7px 0 -17px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
		font-family: Roboto;
		font-weight: 300;
		margin-top:  15px;

		&_big {
			font-size: 16px;
			margin-top: 10px;
			line-height: 27px;
		}
	}

	&__how {
		width: 290px;
		color: #333;
		margin-top: -95px;
		display: inline-block;
		vertical-align: top;
	}
}

@import './media.css';
