.company {
	margin-top: 60px;
	position: relative;

	&__inner {
		margin-left: auto;
		margin-right: auto;
		width: 91.538%;
		max-width: 1190px;
		position: relative;
	}

	&__header {
		width: 361px;
		height: 92px;
		margin: 0 auto;
	}

	&__content {
		margin-top: 35px;
		padding-top: 57px;
	}

	&__info {
		margin-top: 50px;
	}
}
