@import 'helpers';
@import 'base';

.application {
	padding-top: 35px;
	background-image: radial-gradient(circle at 50% 200px , rgba(234, 217, 185, 0.25) 130px, rgba(234, 217, 185, 0.15) 500px, rgba(234, 217, 185, 0) 1000px), url('../../images/background/page.jpg');
	background-color: #043351;
	background-size: 100% 2000px, auto;
	background-repeat: no-repeat, repeat;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	&__inner {
		margin-left: auto;
		margin-right: auto;
		padding-top: 60px;
		flex-grow: 1;
		width: 100%;
		min-width: 1000px;
		max-width: 1300px;
	}
}
