@import 'helpers';

@media (--large) {

	.order {
		width: 100%;

		&__main__short {
			width: 20%;

			&-block {
				width: 140px;
				height: 200px;
				margin: 0 0 0 25px;

				&.fixed {
					width: 140px;
				}
			}

			&__airship {
				display: none;
			}

			&__text-block {
				display: none;
			}

			&__line {
				height: 130px;
				top: 38px;
				left: 50%;

				&:before {
					border: 5px solid transparent;
					border-top: 12px solid #a70e00;
					content: '';
					display: block;
					position: absolute;
					bottom: -19px;
					left: -5px;
					width: 1px;
				}
			}

			&__more {
				bottom: 183px;

				&:before {
					display: block;
					content: '';
					width: 1px;
					height: 130px;
					background-color: #c2b398;
					position: absolute;
					top: 36px;
					left: 50%;
					margin-left: -0.5px;
				}

				&:after {
					display: block;
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 12px 5.5px 0 5.5px;
					border-color: #b71800 transparent transparent transparent;
					position: absolute;
					top: 166px;
					left: 50%;
					margin-left: -5.5px;
				}
			}
		}

		&__main__content {
			width: 80%;
		}
	}
}

@media (--medium) {
	.order {
		.label {
			font-size: 12px;
		}
	}
}



@media (--small) {
	.order {
		width: 100%;

		&__main__short {
			display: none;
		}

		&__main__content {
			float: none;
			width: 100%;
			padding-left: 30px;
			padding-right: 10px;
		}

		.label {
			font-size: 12px;
		}
	}
}
