.root {
	display: block;
	color: #333;
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}
}

.title {
	margin-bottom: 3px;
	padding-bottom: 3px;
	display: table;
	vertical-align: top;
	font-family: RodchenkoCTT;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: transparent;
	text-decoration: none;
	color: inherit;

	&_state_active {
		cursor: pointer;
		border-bottom-color: #6c0400;
		transition-duration: .25s;
		transition-property: color, border-bottom;
		will-change: color, border-bottom;

		&:hover {
			color: #cb240a;
			border-bottom: 1px dashed #cb240a;
		}
	}
}
