.timeline {
    position: relative;
    margin: 100px auto 50px;
    overflow: hidden;
    width: 91.538%;
    min-height: 690px;

    .title{
		margin-top: 40px;
	    margin-bottom: 20px;
	    font-family: 'PT Sans Narrow';
	    font-size: 35px;
	    line-height: 1;
	    color: #6a0005;
    }
	
	.text{
		margin-top: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 0; 
	    width: 524px;
	    font-family: 'Roboto Light';
	    font-size: 15px;
	    line-height: 21px;
	    color: #333;
	}

    &__items{
    	position: relative;
    	padding-top: 320px;
	    margin-bottom: 124px;
	    margin-left: auto;
	    margin-right: auto;
	    display: table;
	    &:before{
		    content: '';
		    position: absolute;
		    display: block;
		    background-image: url(http://csssr.ru//img/index_en/rocket_en.svg);
		    width: 121px;
		    height: 342px;
		    top: 10px;
		    left: 50%;
		    margin-left: -134px;
		}
    }
}