.upload-block {
	margin-top: 10px;
}

.drop-place {
	height: 165px;
	width: 100%;
	border: 2px dashed #c7261a;
	position: relative;
	cursor: pointer;

	&__bg {
		position: absolute;
		top: 4px;
		left: 5px;
		right: 5px;
		bottom: 4px;
		background-color: rgba(233, 216, 184, .3);
	}

	&__text {
		text-align: center;
		line-height: 152px;
		color: #847c6b;
		font-family: 'PT Sans';
		font-size: 13px;
	}

	&:hover {
		.drop-place {
			&__bg {
				background-color: rgba(255, 255, 255, .2);
			}
			&__text {
				color: #333;
			}
		}
	}

	&_active {
		border: 2px dashed #c7261a;

		.drop-place__bg {
			background: url('../../images/background/fileupload-target.svg') no-repeat;
			background-size: 115px;
			background-position: center center;
			background-color: rgba(255, 255, 255, .2);
		}

		.drop-place__text {
			display: none;
		}
	}
}
